/* styles.css */

.pane-title {
    text-align: center;
    background-color: #c5c5c5;
}

.connection-action-btn {
    margin-left: 10px;
    cursor: pointer;
}

.path-part {
    cursor: pointer;
}


/* Add styles here to customize the appearance of your app */